@use "@/assets/styles/base/variables" as *;

.ti-base-loading-spinner {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;

  .loading-gif {
    object-fit: contain !important;
    display: block !important;
  }

  // Sizes
  &.size-xs {
    width: 12px !important;
    height: 12px !important;
    .loading-gif { width: 12px !important; height: 12px !important; }
  }

  &.size-sm {
    width: 16px !important;
    height: 16px !important;
    .loading-gif { width: 16px !important; height: 16px !important; }
  }

  &.size-md {
    width: 20px !important;
    height: 20px !important;
    .loading-gif { width: 20px !important; height: 20px !important; }
  }

  &.size-lg {
    width: 24px !important;
    height: 24px !important;
    .loading-gif { width: 24px !important; height: 24px !important; }
  }

  &.size-xl {
    width: 32px !important;
    height: 32px !important;
    .loading-gif { width: 32px !important; height: 32px !important; }
  }
}
